@charset 'UTF-8';

/// CSS cubic-bezier timing functions. Timing functions courtesy of jquery.easie (github.com/jaukia/easie)
///
/// Timing functions are the same as demoed here: http://jqueryui.com/resources/demos/effect/easing.html
///
/// @type cubic-bezier

$ease-in-quad:      cubic-bezier(.550, .085, .680, .530);
$ease-in-cubic:     cubic-bezier(.550, .055, .675, .190);
$ease-in-quart:     cubic-bezier(.895, .030, .685, .220);
$ease-in-quint:     cubic-bezier(.755, .050, .855, .060);
$ease-in-sine:      cubic-bezier(.470, .000, .745, .715);
$ease-in-expo:      cubic-bezier(.950, .050, .795, .035);
$ease-in-circ:      cubic-bezier(.600, .040, .980, .335);
$ease-in-back:      cubic-bezier(.600, -.280, .735, .045);

$ease-out-quad:     cubic-bezier(.250, .460, .450, .940);
$ease-out-cubic:    cubic-bezier(.215, .610, .355, 1.000);
$ease-out-quart:    cubic-bezier(.165, .840, .440, 1.000);
$ease-out-quint:    cubic-bezier(.230, 1.000, .320, 1.000);
$ease-out-sine:     cubic-bezier(.390, .575, .565, 1.000);
$ease-out-expo:     cubic-bezier(.190, 1.000, .220, 1.000);
$ease-out-circ:     cubic-bezier(.075, .820, .165, 1.000);
$ease-out-back:     cubic-bezier(.175, .885, .320, 1.275);

$ease-in-out-quad:  cubic-bezier(.455, .030, .515, .955);
$ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1.000);
$ease-in-out-quart: cubic-bezier(.770, .000, .175, 1.000);
$ease-in-out-quint: cubic-bezier(.860, .000, .070, 1.000);
$ease-in-out-sine:  cubic-bezier(.445, .050, .550, .950);
$ease-in-out-expo:  cubic-bezier(1.000, .000, .000, 1.000);
$ease-in-out-circ:  cubic-bezier(.785, .135, .150, .860);
$ease-in-out-back:  cubic-bezier(.680, -.550, .265, 1.550);
