{% extends "_layout.html" %}

{% block header %}
    <style type="text/css">
        /* we only include minimal style directly*/
        #content {
            margin: 0;
            padding: 0;
        }
    </style>

    <script type="text/javascript">
    window.PRELOAD = {
        CURRENT_USER: {{ SERIALIZED_USER | safe }},
        MESSAGES: {{ MESSAGES | safe }},
        PAYLOAD: { key: "{{key}}",
                   data: {{ data | tojson | safe }}
               }
    }
    </script>
{% endblock %}

{% block body %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
    <script type="text/javascript" src="/assets/{{ static_files.main_js }}"></script>
{% endblock %}
