{% extends "_layout.html" %}

{% block header %}
    <style type="text/css">
        /* we only include minimal style directly*/
        #content {
            margin: 0;
            padding: 0;
        }
    </style>

    <script type="text/javascript">
    window.BEAVY = {
        CURRENT_USER: {{ SERIALIZED_USER | safe }},
        PRELOAD: {{ data | tojson | safe }}
    }
    // we do not accept iframe inclusion
    {% if config.DEBUG %}
        if (parent !== window && parent.location.pathname != "/webpack-dev-server/") parent.location.reload();
    {% else %}
        if (parent !== window) parent.location.reload();
    {% endif %}
    </script>
{% endblock %}

{% block bodytags %} id="content" {% endblock %}

{% block body %}
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="/assets/main.js"></script>
{% endblock %}