
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <style type="text/css">
        /* we only include minimal style directly*/
        #content {
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="/assets/main.css" />
    <script type="text/javascript">
     var DATA = {{ data|tojson|safe }};
    </script>
    <body id="content">
        {% block body %}
        {% endblock %}
        <script type="text/javascript" src="/assets/main.js"></script>
    </body>
</html>
