@import "bourbon/_bourbon.scss";
@import "base/_base.scss";
@import "neat/_neat.scss";

$main-navigation-background: white;
$base-border-color: white;
$main-navigation-border-color: rgba(0,0,0, 0.15);
$main-navigation-color: #333;
$main-navigation-color-hover: #2C8ECF !default;